<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Como Llegar
    </mat-panel-title>
    <mat-panel-description>
      <mat-icon>location_on</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3103.374007072448!2d-68.0032662492167!3d-38.93828330688997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a3102bb8a8e37%3A0x89b4c938a15e3735!2sGtx%20Xtreme%20Informatica!5e0!3m2!1ses!2sar!4v1664216877764!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</mat-expansion-panel>
</mat-accordion>
