<p>
  Somos GTX, una tienda de informatica que se encarga de solucionar los problemas que puedas tener con tus
  dispositivos, y te vendemos los perifericos y componentes que usted este buscando, además, lo asesoramos a la
  hora de querer armarse una pc.
</p>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile><img src="../../../assets/gamer.jpg" width="100%"></mat-grid-tile>
  <mat-grid-tile><img src="../../../assets/placa.jpeg" width = "83%"></mat-grid-tile>
  <mat-grid-tile><img src="../../../assets/Kumara-K552-RGB-3.jpg" width = "100%"></mat-grid-tile>
  <mat-grid-tile><img src = "../../../assets/razer viper.jpg"></mat-grid-tile>
</mat-grid-list>

