<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Auriculares"><mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image1"></div>
      <mat-card-title>GTX Informatica</mat-card-title>
      <mat-card-subtitle>@GTX_Informatica</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/auris.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <h2>
        <u>Auriculares Logitech G733</u>
      </h2>
      <p>
        Diversos Colores<br>
        Compatible con: Windows, MacOs, Playstation 4 y 5, Xbox x y Series X e Y<br>
        Duracion Bateria:<br>
        Sin iluminacion; 29Hs, con iluminacion: 29Hs<br>
        Precio: $17.500
      </p>
    </mat-card-content>
  </mat-card>
  </mat-tab>
  <mat-tab label="Mouse"><mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image2"></div>
      <mat-card-title>GTX Informatica</mat-card-title>
      <mat-card-subtitle>@GTX_Informatica</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/mouse.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <h2>
        <u>Mouse HyperX PulseFire PFS Pro</u>
      </h2>
      <p>
        Alambrico<br>
        Cantidad de DPI: 16.000 <br>
        Velocidad:450ips <br>
        Botones: 6 configurables <br>
        Durabilidad: 20 millones de click<br>
        Precio: $12.000
      </p>
    </mat-card-content>
  </mat-card>
  </mat-tab>
  <mat-tab label="Microfono"><mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image3"></div>
      <mat-card-title>GTX Informatica</mat-card-title>
      <mat-card-subtitle>@GTX_Informatica</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/quadcast.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <h2>Microfono HyperX QuadCast RGB</h2>
      <p>
        Conector: USB<br>
        4 tipos de patrones<br>
        Filtro Anti Pop<br>
        Cable 3 Mts<br>
        Precio: $30.000
      </p>
    </mat-card-content>
  </mat-card>
  </mat-tab>
</mat-tab-group>
